
.logo{
   img{
      width: 300px;
      border: 10px solid #CCCCCC;
      border-radius: 150px;
   }
}


@media screen and (max-width: 767px) {
   .logo{
      display: flex;
      justify-content: center;
      img{
         border: none;
         width: 300px;
      }
   }
}